<% include ./partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-0"></div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      
        <div class="col-xs-6 nopaddingright"><div class="imagethumb"><img class = "img-thumbnail" src="<%= kit.images[0] %>"></div></div>
        <div class="col-xs-6 nopaddingleft"><div class="imagethumb"><img class = "img-thumbnail" src="<%= kit.images[1] %>"></div></div>
        <div class="col-xs-6 nopaddingright"><div class="imagethumb"><img class = "img-thumbnail" src="<%= kit.images[2] %>"></div></div>
        <div class="col-xs-6 nopaddingleft"><div class="imagethumb"><img class = "img-thumbnail" src="<%= kit.images[3] %>"></div></div>
      
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <h4><%=kit.kitName%></h4>
      <p>
        <em>Submitted By <%= kit.author.username %></em>
      </p>
      <p><%=kit.description%></p>
    </div>
    <div class="col-md-3 col-sm-0"></div>
  </div>
<!--</div>-->

<!--<div class="container">-->
  <div class="row">
    <div class="col-md-3 col-sm-0"></div>
    <div class="col-md-6 col-sm-12">
    <form action="/kits/<%= kit._id%>/comments" method="POST">
      <div class="form-group">
        
      </div>
      <div class="form-group">
        <textarea class="form-control" type = "text" name="comment[text]" rows="3" placeholder="Comment"></textarea>
      </div>
    
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>
    <div class="col-md-3 col-sm-0"></div>
  </div>
  
</div>

<% include ./partials/footer %>
